{
  "$schema": "http://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "rangeStart": 0,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.ts,*.tsx",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.graphql,*.gql",
      "options": {
        "parser": "graphql"
      }
    }
  ]
}